html {
  height: 100%;
}

#root, body {
  height: 98%;
  font-family: sans-serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.wrapper {
  background-color: #f3f6f9;
}

.left-nav-bar-container {
  padding: 0px;
  max-width: 90px;
}

.left-nav-bar-container.col-md-1 {
  width: calc(7% - 15px);  
}

.main-content {
  &.col-md-11 {
    width: calc(92.67% - 15px);
  }
}
