.main-header-navbar {
  background-color: #fff;
  padding: 0px 30px;

  .container {
    background-color: #fff;
  }

  @media(min-width: 1200px) {
    .container {
      margin: 0px;
      width: 100%;

      .left-nav {
        margin-top: 16px;
      }
    }
  }

  .create-icon{
    background: url(../../assets/plus.png) 13px no-repeat;
    border: 1px dashed #464d5d;
    height: 40px;
    width: 40px;
    margin-top: 2px;
    margin-right: 10px;
    background-size: 12px;
    border-radius: 50%;
    display:inline-block;
  }

  .navbar-right {
    display: inline-block;
    height: 60px;
    vertical-align: middle;

    .icon-btn {
      padding: 15px 0px;
    }
  }

  .user {
    display: inline-block;
  }

  .logo {
    width: 150px;
    height: 75px;
    display: inline-block;
    background: url(../../assets/logo.png) no-repeat 0 17px;
  }
}

.navbar {
  margin-bottom: 0px;
}
